html{
    background-color: rgb(218, 193, 241);
    border: 10px solid black;
}
h1{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    font-size: 48px ;
}
h2{ 
    text-align: center;
    font-size: 28;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding-top: 0.2cm;
    padding-bottom: 0.2cm;
}
p{ font-family: 'Times New Roman';
    font-size:24px; 
    font-style: italic;

}
h3{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
div.hi{
    font-family: 'Times New Roman';
    font-size:24px; 
    font-style: italic;
}
.button {
    background-color:black;
    color: white;
    border: 2px solid white ;
    padding: 12px 24px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    border-radius: 2cm; 
    box-shadow:1px 1px 4px #000;
    margin-left: 0.5cm;
    

  }
  .button:hover{
      background-color: rgb(46, 6, 75);
      transform: scale(0.9);
      transition: 0.5s;
  }

    
