html{
    background-color: rgb(218, 193, 241);
    border: 10px solid black;
}
h1{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    font-size: 48px ;
}
div.one{
    font-family: 'Times New Roman';
    font-size:24px; 
    font-style: italic;
} 
.button{
    background-color:black;
    color: white;
    border: 2px solid white;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 2cm; 
    box-shadow:1px 1px 4px #000
}
.button:hover{
      background-color: indigo;
      transform: scale(0.9);
      transition: 0.5s;
}
